<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="account-wall">
            <md-toolbar color="primary">
                <h1 class="text-center title">Login</h1>
            </md-toolbar>
                <img class="profile-img" src="https://gooddonegreat.com/app/img/placeholders/avatar-150x150.png"
                    alt="">
                <form class="form-signin" (submit)="onLoginSubmit()">
                <!--<input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Email"  autofocus>-->
                <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username"  autofocus>
                <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" >
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                </form>
            </div>
            <a routerLink="/register" routerLinkActive="active" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>