<div id="profile" *ngIf="user">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                Sidebar
            </div>
            <div class="col-sm-10">  
                <div class="row">  
                    <div class="col-sm-3">
                        <img src="http://placehold.it/250x250" alt="" class="img-circle img-responsive" />
                    </div>
                    <div class="col-sm-9">
                        <p-fileUpload class="pull-right" name="myfile[]" chooseLabel="Upload Music" url="http://localhost:5000/upload" multiple="multiple" accept="image/*" auto="auto"></p-fileUpload>
                        <h2>{{user.name}}</h2>
                        <div>165 <br /> Followers </div>
                        <div>21 <br /> Plays</div>
                        <p>Uuummmm, this is a tasty burger! Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p-tabView>
                            <p-tabPanel header="Personal Tracks" leftIcon="fa-music">
                                <div class="row">  
                                    <div class="col-sm-4">
                                        <img src="http://placehold.it/450x450" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-8">
                                        <h3>Music Name</h3>
                                        <h4>Album</h4>
                                        <h4>4/28/2017</h4>
                                        <p>Uuummmm, this is a tasty burger! Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Comments" leftIcon="fa-comment">
                                <comment></comment>
                            </p-tabPanel>
                            <p-tabPanel header="Bio" leftIcon="fa-user-o">
                                You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
                            </p-tabPanel>
                            <p-tabPanel header="Album" leftIcon="fa-headphones">
                                Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>