#profile {
    padding: 5% 0;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

/* 
    PrimeNG Styles - Use :host /deep/ to force a style down 
    through the child component tree into all the child component views
*/

:host /deep/ .ui-button-text {
    text-transform: uppercase;
    background-color: red;
}

:host /deep/ .ui-fileupload-content {
    display: none;
}

:host /deep/ .ui-fileupload-buttonbar {
    background: none;
    border: none;
}
