<div class="row personalTrack" *ngFor="let beat of beats | reverse">  
    <div class="col-sm-4">
        <img src="https://s3.amazonaws.com/maltarmusic/{{beat.artworkUrl}}" alt="" class="img-responsive" />
    </div>
    <div class="col-sm-8">
        <h3>{{beat.title}}</h3>
        <h4>Produced by: {{beat.producer}}</h4>
        <h4>4/28/2017</h4>
        <p>Uuummmm, this is a tasty burger! Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
    </div>
</div>
