<div class="container">
    <div class="row">
            <div class="col-lg-12">
            <h2 class="page-header">Dashboard</h2>
            <h4>Welcome to your dashboard</h4>
        </div>
        <div class="col-md-4" *ngFor = "let beat of beats | reverse">
            <md-card>
                <img md-card-image src="http://placehold.it/200x200">             
                <h3>{{beat.title | ucfirst}}</h3>
                <h4>Produced by: {{beat.producer}}</h4>
                <h4>4/28/2017</h4>
                <p>Uuummmm, this is a tasty burger! Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
            </md-card> 
        </div>
    </div>
</div>