<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">MalTar Music</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a  routerLink="/" routerLinkActive="active">Home</a></li>
          <!-- <li><a *ngIf="!_authService.loggedIn()" routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
          <li><a *ngIf="_authService.loggedIn()" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a *ngIf="_authService.loggedIn()" routerLink="/profile" routerLinkActive="active">Profile</a></li> -->
          <li><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
          <li><a [routerLink]="['/signup']" routerLinkActive="active">Sign up</a></li>
          <li><a (click)="onLogoutClick()">Logout</a></li>
       </ul>
    </div>
  </div>
</nav>