.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
}
progress::-webkit-progress-value {
    transition: width 0.1s ease;
}
// The below is used just for the upload without the drop zone// .file-input {
//     width: 0.1px;
//     height: 0.1px;
//     opacity: 0;
//     overflow: hidden;
//     position: absolute;
//     z-index: -1;
// }

// .add-file {
//     cursor: pointer;
//     position: absolute;
//     left: 100px;
//     color: red;
// }
