.personal-tracks {
    margin: 0;
}

.card-image {
    margin-right: 25px;
}

.card-image-mobile {
    margin-right: 15px;
}

.music-cover {
    width: 250px;
    height: 100%;
}

.music-cover-mobile {
    width: 150px;
    height: 100%;
}

.custom-card {
    margin: 30px 20px 0 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
}

.card-title-mobile {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
}

.card-subtitle-mobile {
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
}

.card-descritption {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-descritption-mobile {
    margin-top: 10px;
    margin-bottom: 10px;
}