.profile-wrapper {
    margin: 50px 50px 50px 25px;
}

.image-container {
    position: relative;
}

.user-edit {
    color: #ffffff;
    background-color: #dc0000;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 45px;
    top: 10px;
}

.user-picture {
    border-radius: 50%;
    height: 225px;
    width: 225px;
}

mat-chip.upload-music-chip {
    color: #ffffff;
    background-color: #dc0000;
    cursor: pointer;
}

.chip-icon {
    margin-left: 5px;
}

.user-info, .summary-details {
    margin-bottom: 30px;
}

.profile-tabs {
    margin-top: 60px;
}

.custom-label {
    color: #dc0000;
    font-size: 20px;
    font-weight: 400;
}

.upload-music-button-mobile {
    color: #dc0000;
    border: 1px solid #dc0000;
    line-height: 0;
    position: absolute;
    top: -30px;
    right: 8px;
}

.user-title-mobile {
    margin-top: 20px;
}

.user-bio-mobile {
    padding: 20px 40px;
    text-align: center;
}