<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/']" class="navbar-brand" href="#">MalTar Music App</a>
  <button (click)="toggleDropdown()" class="navbar-toggler" type="button" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': showDropdown}">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/login']" *ngIf="!(isLoggedIn | async)">Login</a>
      <a class="nav-item nav-link" [routerLink]="['/signup']" *ngIf="!(isLoggedIn | async)">Signup</a>
      <a class="nav-item nav-link" (click)="onLogoutClick()" *ngIf="isLoggedIn | async">Logout</a>
    </div>
  </div>
</nav>
