.profile {
    height: auto;
    padding: 5px;
    .profile__pic {
        text-align: center;
        img {
            border-radius: 50%
        }
        .avatar {
            border-radius: 50%;
        }
    }
    .number-of-followers {
        display: inline-block;
    }
    .number-of-plays {
        display: inline-block;
    }
    upload-music-btn {
        float: right;
    }
    .upload-image-btn {
        top: 85px;
        cursor: pointer;
        position: absolute;
        left: 100px;
        background-color: #f44336;
        color: #fff;
        width: 25px;
        height: 22px;
        .mat-icon {
            font-size: 15px;
            position: relative;
            margin-top: -10px;
        }
    }
}
