.profile {
  background-color:#ddd;
  height: auto;
}

.sec1 {
  background: red;
  color:white;
  text-transform: uppercase
}

.sec2 {
  background: yellow;
  color:blue;

}

.sec3 {
  background: blue;
  color:white;
  text-transform: uppercase
}

.sec1, .sec2, .sec3 {
  padding-top:20px;
  text-align:center
}

/* .profile__details {
  min-width: 200px;
} */
