<div class="col-md-12">
  <div class="section-heading-top"></div>
  <h2 class="text-center">Top Posts</h2>
  <div class="section-heading-bottom"></div>

  <div class="col-xs-4 col-md-4 posts">
      <img class="img-responsive" src="http://placehold.it/500x550" alt="...">
  </div>
    <div class="col-xs-4 col-md-4 posts">
      <img class="img-responsive" src="http://placehold.it/500x550" alt="...">
  </div>
    <div class="col-xs-4 col-md-4 posts">
      <img class="img-responsive" src="http://placehold.it/500x550" alt="...">
  </div>
  <div class="col-xs-4 col-md-4 posts">
      <img class="img-responsive" src="http://placehold.it/500x550" alt="...">
  </div>
    <div class="col-xs-4 col-md-4 posts">
      <img class="img-responsive" src="http://placehold.it/500x550" alt="...">
  </div>
    <div class="col-xs-4 col-md-4 posts">
      <img class="img-responsive" src="http://placehold.it/500x550" alt="...">
  </div>
</div><!--/ .col -->
