<div style="text-align:center; margin: 8px;">
  <div>
    <h5 class="mat-title">Songs</h5>
    <div *ngFor="let song of songs" class="songs">
      <div class="button-row">
        <button mat-button color="primary" class="song-title-btn" [musicPlayer]="'play'" [song]="song">
          {{ song.title }}
        </button>
        <button mat-mini-fab color="accent" musicPlayer [song]="song">+</button>
      </div>
    </div>

    <div class="button-row play-btns">
      <button mat-raised-button color="primary" playAll [songs]="songs">Play all</button>
      <button mat-raised-button color="accent" playAll [songs]="songs" [play]="false">Add all</button>
    </div>
  </div>

  <hr />

  <div>
    <p *ngIf="currentPlaying" class="mat-body">
      Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentTrackPostion | humanTime }} / {{ currentTrackDuration | humanTime }})
    </p>

    <div class="progress" style="height: 20px; width: 100%;">
      <div class="progress-bar progress-bar-success"
           role="progressbar"
           [ngStyle]="{width : progress }">
        <span class="sr-only"></span>
      </div>
    </div>

    <div class="button-row">
      <button mat-raised-button color="primary" playMusic>Play</button>
      <button mat-raised-button color="accent" pauseMusic>Pause</button>
      <button mat-raised-button color="warn" stopMusic>Stop</button>
      <button mat-raised-button repeatMusic>Repeat</button>
    </div>

    <h5 class="mat-body">Volume: {{ volume }}</h5>

    <div class="button-row">
      <button mat-raised-button color="primary" increaseVolume>+</button>
      <button mat-raised-button color="accent" decreaseVolume>-</button>
      <button mat-raised-button muteMusic>Mute ({{ mute }})</button>
    </div>

    <br />

    <div class="button-row">
      <button mat-raised-button color="primary" previousTrack>Previous Track</button>
      <button mat-raised-button color="primary" nextTrack>Next Track</button>
    </div>

    <h5 class="mat-title playlist-title">Playlist:</h5>

     <div class="playlist">
      <div *ngFor="let song of playlist; index as i;">
        <a playFromPlaylist [song]="song">{{ song.title }}</a>
        <a removeFromPlaylist [song]="song" [index]="i">
          <small>(remove)</small>
        </a>
        <span *ngIf="currentPlaying && currentPlaying.id == song.id"> - (current)</span>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<mat-toolbar color="warn" class="navbar-fixed-bottom" id="audio-player">
    <i class="material-icons" previousTrack>fast_rewind</i>
    <i class="material-icons" pauseMusic *ngIf="!isPlaying">play_arrow</i>
    <i class="material-icons" pauseMusic *ngIf="isPlaying">pause_arrow</i>
    <i class="material-icons" nextTrack>fast_forward</i>
    <i class="material-icons">menu</i>
    <i class="material-icons">mode_edit</i>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <i class="material-icons">volume_up</i>
    <i class="material-icons">repeat</i>
    <i class="material-icons">shuffle</i>
</mat-toolbar>
