/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a {
  cursor: pointer;
}

.text-danger {
  color: #c40000;
}

.has-error .control-label {
  color: #333;
}
