<div id="audio-player-col" class="col-md-12 col-md-push-3" >
  <img class="img-responsive" src="http://placehold.it/350x200" alt="">
  <h3 class="text-center">Louie Castro</h3>

  <div class="col-md-12">

    <div class="time-start">0.00</div>
    <div class="time-end">3.25</div>

    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>

    <div class="repeat">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
    <div class="shuffle">
      <i class="fa fa-random" aria-hidden="true"></i>
    </div>


    <div class="audio-controls text-center">
      <div class="play-buttons">
        <i class="fa fa-backward" aria-hidden="true"></i>
        <i class="fa fa-play" aria-hidden="true"></i>
        <i class="fa fa-pause hidden" aria-hidden="true"></i>
        <i class="fa fa-forward" aria-hidden="true"></i>
      </div>
    </div>
    <dl>
      <dt>Genre</dt>
        <dd>Hip-Hop</dd>
        <dd>R$B</dd>
        <dd>PopHip-Hop</dd>
        <dd>Hip-Hop</dd>
        <dd>Hip-Hop</dd>
        <dd>Hip-Hop</dd>
        <dd>Hip-Hop</dd>
        <dd>Hip-Hop</dd>
        <dd>Hip-Hop</dd>
        <dd>Hip-Hop</dd>
    </dl> 


  </div><!--/ .col-md-12 -->
</div><!--/ .col-md-3 -->
