<div class="col-md-12">
  <div class="section-heading-top"></div>
  <h2 class="text-center">Latest Beats</h2>
  <div class="section-heading-bottom"></div>
  <table class="table"> 
    <tbody>
      <tr *ngFor = "let beat of beat"> 
        <th scope="row"><a id="{{beat.id}}" class="fa fa-play" (click)="playAudio($event)" href="{{beat.url}}"></a></th> 
        <td>{{beat.title}}</td>
        <td>{{beat.duration}}</td>
        <td>{{beat.bpm}}</td>
        <td>{{beat.genre}}</td>
        <td>{{beat.price | currency:'USD':true}}</td>
        <td class="text-right"><i class="fa fa-share-alt" aria-hidden="true"></i><button class="add-button">Add</button></td>
      </tr>  
    </tbody>
  </table>
</div>