.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    border-bottom: 1px solid #ddd !important; /*Not sure why this is not working*/
}

.add-button {
    margin-left: 10px;
}





#music-player {
    margin-top: 25px;
    height: 500px;
    width: 100%;
}

.music-player-header {
    height: 50px;
    background-color: black;
}

.music-player-info {
    height: 150px;
    background-color: #eee;
}

.track-cover {
    float: left;
    margin: 20px 0 0 15px;
}

.track-info {
    display: inline-block;
    margin-left: 20px;
}

#music-search {
    width: 100%;
    height: 30px;
}

.tracklist {
    background-color: #F5F5F5;
    max-height: 300px;
    overflow-y:scroll; 
}

.tracklist > ul {
    padding: 0;
    margin: 0;
}

.tracklist > ul > li {
    list-style: none;
}

.pic-play-title,
.track-obj,
.track-action {
    display: inline-block;
}

.pic-play-title {
    width: 35%
}
.track-obj {
    width: 35%;
}

.track-action {
    width: 20%;
} 

.tracklist > ul > li > * > span {
    margin-left: 10px;
}

.add-to-cart {
    margin-left: 10px;
}

